name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

      - uses: Brightspace/third-party-actions@actions/checkout

      - uses: Brightspace/setup-node@main
        with:
          node-version: 12

      - name: auto-approve
        run: npm install && npm run all
        working-directory: auto-approve

      - name: "Ensure no local changes from dist generation"
        run: git diff --exit-code
